@media only screen and (max-width: 600px){
	.menu a{
		display: none;
	}
	header{
		height: 60vh;
	}
	.logo{
		padding-left: 50px;
	}
	header .text{
		margin-top: 50px;
		margin-left: 140px;

	}

	.about-l{
	flex-basis: 100%;
}

.about-l img{
	width: 300px;
	height: 300px;
	padding: 50px;
	/*padding-right: 20px;*/
}
.about-r{
	flex-basis: 100%; 
}

.skill-l, .skill-r{
	flex-basis: 100%;
}

progress{
	width: 80%;
}
.contact-l{
	flex-basis: 100%;
}
.contact-r{
	flex-basis: 100%;
}

}